 *{
    margin: 0;
    padding: 0;
 }

/* common style */

.btn-style{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 500;
text-align: right;
border-radius: 5px;
padding: 8px 12px;
background: rgb(241, 91, 34);
outline: none;
border: none;
margin-top: 13px;
}


section{
    margin-bottom: 50px;
}

 /* banner related style */
#banner-bg{
 background: url('../images/banner/banner2.png');
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 width: 1280px;
 height: 500px;
 display: flex;
justify-content: end;
align-items: center;

}

.banner{
    width: 490px;
    text-align: right;
    padding: 180px 80px;
    
    
}

.banner-title{
    color: rgb(21, 20, 20);
font-size: 45px;
font-weight: 630;
text-align: right;
margin-bottom: 12px;
}

.banner-paragraph{
    color: rgb(68, 67, 67);
font-size: 12px;
font-weight: 400;
text-align: right;
}

/* failure style */

.failure-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.failure-content{
    width: 320px;
    height: auto;
}
.failure-img img{
    width: 350px;
    height: auto;
}

.failure-title , title{
    color: rgb(21, 20, 20);
font-family: Work Sans;
font-size: 36px;
font-weight: 650;
text-align: left;
margin-bottom: 22px;

}
.failure-paragraph{
    color: rgb(68, 67, 67);
font-size: 12px;
font-weight: 400;
text-align: left;
margin-bottom: 22px;
}



ol li{
    list-style: inside;
}



/* plans related style */

.title{
  text-align: center;
  margin-bottom: 40px;
}

.plans-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

/* background section */

#background-pic{
     background:url('../images/watch.png');
     background-repeat: no-repeat;
     background-size: cover;
     width: 900px;
     height: auto;
     margin: 0 auto;
     display: flex;
     justify-content: left;
     align-items: center;
     background: 
}

.bg-content{
    padding: 40px 60px;
    height: 150px;

}

.button-white{
    border-radius: 5px;
    color: rgb(241, 91, 34);
font-size: 17px;
font-weight: 500;
text-align: left;
background: rgb(255, 255, 255);
border: none;
padding: 12px 18px;
margin-top: 16px;
}

.content-title{
    color: rgb(255, 255, 255);
font-size: 36px;
font-weight: 700;
text-align: left;
}